.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(30);
  
    .title {
      font-size: rem(28);
      margin-bottom: rem(25);
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }