$color-black: #151515;
$color-white: #ffffff;

$color-daviy-grey: #4a4a4a;

$font-primary: 'Open Sans Condensed';

$font-family: $font-primary, 'Helvetica', 'Arial', 'sans-serif';

// Font Weights
$light: 200;
$regular: 400;
$bold: 600;

$font-xs: rem(14);
$font-sm: rem(16);
$font-md: rem(20);
$font-md-plus: rem(22);
$font-md-alt: rem(24);
$font-lg-alt: rem(30);
$font-lg: rem(40);
$font-xl: rem(80);

$line-sm: rem(30);
$line-md: rem(30);
$line-lg: rem(50);

$margin-xs: rem(20);
$margin-sm: rem(30);
$margin-md: rem(50);
$margin-lg: rem(80);
$margin-xl: rem(100);

// Breakpoints
$phone-sm: 576px;
$tablet-md: 768px;
$desktop-lg: 992px;
$desktop-xl: 1200px;
$desktop-xxl: 1600px;

$container-xxl: 1540px;